.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel__images {
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.carousel__img {
    display: flex;
    height: 100%;
    object-fit: cover;
}

.carousel__text {
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    margin-bottom: 10rem;
}

.carousel__title {
    padding-top: 1rem;
    color: var(--color-dark-blue);
    font-weight: 700;
    font-size: 1.2rem;
}

.carousel__title-home {
    padding-top: 1rem;
    color: var(--color-dark-blue);
    font-weight: 700;
    font-size: 1.2rem;
}

.carousel__advance {
    border-color: transparent;
    position: absolute;
    border-color: transparent;
    color: var(--color-white);
    bottom: 10rem;
}

.carousel__change-image-button {
    background-color: var(--color-dark-blue);
    border-radius: 10rem;
    width: 12rem;
    height: 2.3rem;
    color: var(--color-white);
    font-size: 1rem;
    align-items: center;
    text-align: center;
    border-color: transparent;

}

.Heart-Animation {
    background-image: url('../../assets/img/web_heart_animation.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 110px;
    width: 110px;
    margin: 4rem 0rem 40rem 55rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.carousel__change-image-button:hover {
    background-color: var(--color-dark-blue);
}

.button-pulse {
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 #8a5fdc;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
}

.hidden {
    display: none;
}

.animate {
    animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}



/* Desktop styles */
@media (min-width: 1000px) {

    .carousel__images {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    #img {
        width: 100%;
        height: 46.5rem;
    }

    .carousel__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel__title {
        padding-top: 1rem;
        color: var(--color-dark-blue);
        font-weight: 700;
        font-size: 2rem;
    }

    .carousel__title-home {
        font-size: 2.5rem;
        margin-left: 10rem;
    }

    .carousel__advance {
        position: absolute;
        bottom: 10rem;
        border-color: transparent;
    }

    .Heart-Animation {
        top: 2rem;
        right: 4rem;
    }

    .carousel__text {
        width: 55%;
        left: 55%;
        top: 20rem;

    }

    .carousel__change-image-button {
        background-color: var(--color-dark-blue);
        border-radius: 15rem;
        width: 20rem;
        height: 3rem;
        margin-top: 2rem;
        color: var(--color-white);
        font-size: 1.5rem;
        align-items: center;
        text-align: center;
        border-color: transparent;
        cursor: pointer;
    }
}