/*background mobil */
.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 200px);
}

.carousel__images {
    background-color: var(--color-yellow);
    height: calc(100vh - 200px);
    width: 100%;
    padding: 2rem 3rem;
    height: 100%;
}

.carousel__images__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img {
    display: none;
}


.carousel__title-home {
    padding-top: 5rem;
    color: var(--color-dark-blue);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 8rem;
}

.carousel__title {
    color: var(--color-dark-blue);
    font-weight: 700;
    font-size: 1rem;
}

.carousel__text {
    text-align: center;
    margin-bottom: 5rem;
}

/*css del display que oculta una parte del home*/
.carousel__fake {
    display: none;
}

/*animacion corazon*/
.Heart-Animation {
    background-image: url('../../assets/img/web_heart_animation.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 110px;
    width: 110px;
    cursor: pointer;
    align-self: end;
}

.animate {
    animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

/* animacion btn*/
.carousel__change-image-button {
    background-color: var(--color-dark-blue);
    border-radius: 10rem;
    width: 12rem;
    height: 2.3rem;
    color: var(--color-white);
    font-size: 1rem;
    align-items: center;
    text-align: center;
    border-color: transparent;

}

.carousel__advance {
    margin-bottom: 2rem;
}

.button-pulse {
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 #8a5fdc;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
}

/* clase que oculta seccion de la home*/
.hidden {
    display: none;
}

@media (min-width: 1000px) {
    /*css de la pagina home*/


    .carousel__images__title {
        width: 60%;
        margin: 0 auto;
    }

    .carousel__images {
        background-image: url(../../assets/img/1.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }

    .carousel__title-home {
        font-size: 3rem;
    }

    .carousel__title {
        font-size: 1.5rem;
    }

    .carousel__title-home {
        font-size: 3rem;
        margin-top: 0;
    }
}