header {
    width: 100%;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3) !important;
}

.navbar-container {
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar-container__container-left {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-left: 1rem;

}

.navbar-container__container-left img {
    transition: all ease 0.8s;
}

.navbar-container__left:hover img {
    filter: saturate(0.5);
}

.navbar-container__right--btn-favorites {
    color: var(--color-dark-blue);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;

}

.navbar-container__right {
    transition: all ease 0.8s;
    font-weight: 700;
}

.navbar-container__right a:hover {
    color: #585083;
}